@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,400&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: Nunito, Arial, sans-serif;
}

.main-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	right: 0;
	width: 70%;
	height: 100vh;
	padding-top: 3rem;
	/* overflow: scroll; */
	background-color: #5264ae;
}

fieldset {
	text-align: left;
	margin-right: 0.5rem;
	border: none;
}

#item-fieldset {
	grid-area: item;
}

#price-fieldset {
	grid-area: price;
}

#add-btn {
	grid-area: add;
	align-self: end;
	height: 2.5rem;
}

#grocery-entry-form {
	display: -ms-grid;
	display: grid;
	grid-template-columns: 50% 35% auto;
	-ms-grid-columns: 50% auto 45%;
	grid-template-rows: auto;
	-ms-grid-rows: auto;
	column-gap: 0.5rem;
	grid-template-areas: 'item price add';
	text-align: center;
	margin: 1rem 0;
}

#grocery-entry-form input {
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 0.5rem;
}

.grocery-list {
	width: 500px;
	height: 70%;
	background-color: #1f1f1f;
	overflow-y: auto;
}

.grocery-item:nth-child(even) {
	background-color: #858585;
}

.grocery-item:nth-child(odd) {
	background-color: #a8a8a8;
}

.grocery-item {
	display: -ms-grid;
	display: grid;
	grid-template-columns: 40% 40% auto;
	-ms-grid-columns: 40% 40% auto;
	grid-template-rows: auto;
	-ms-grid-rows: auto;
	align-items: center;
	grid-template-areas: 'item price remove';
	height: 3rem;
}

.item-name {
	grid-area: item;
}

.item-price {
	grid-area: price;
}

.delete-item-btn {
	grid-area: remove;
	width: 60%;
	height: 1.5rem;
	border: 1px black solid;
	background-color: red;
	border-radius: 3px;
	justify-self: center;
}

.grocery-item span {
	display: inline-block;
	padding-left: 0.25rem;
}

.total-cost-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	width: 30%;
	height: 100%;
	background-color: #1f1f1f;
	color: white;
}

#available-budget-form {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	font-size: 1.25rem;
}

#budget-label {
	font-size: 1.75rem;
	font-weight: 600;
}

#available-budget-form label {
	margin: auto;
}

#available-budget-form #currency-sign {
	margin-right: 0.5rem;
}

#available-budget-form input {
	margin-top: 0.25rem;
	padding: 0.5rem;
	font-size: inherit;
	border: none;
	border-radius: 5px;
	box-shadow: 3px 3px 10px rgba(80, 80, 80, 0.5);
}

.budget-display {
	background-color: grey;
	padding: 2rem;
	max-width: 100%;
	border-radius: 5px;
	box-shadow: 5px 5px 10px rgba(80, 80, 80, 0.5);
	font-size: 2rem;
}
